body {
    font-family: Bitter;
    margin: 60px auto;
    width: 750px;
    font-size: 16px;
    max-width:80%;
    line-height: 25.6px;
}

img {
    max-width: 750px;
    height: auto;
}

nav ul {
    font-family: Bitter;/*Monaco, Menlo, Consolas;*/
    padding: 0px;
    list-style: none;
    font-size: 25px;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

div.intro {
    font-size: 21px;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

footer ul {
    font-family: Bitter;/*Monaco, Menlo, Consolas;*/
    padding: 0px;
    list-style: none;
    font-size: 13px;
    text-align: right;
    vertical-align: middle;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: #b70e0e;
}
a:hover {
    text-decoration: underline;
}

li {
    margin: 10px 0;
}

name_heading {
	font-family: Bitter;
	font-size: 49px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 98px;
}
h1 {
	font-family: Bitter;
	font-size: 39px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 78px;
}
h3 {
	font-family: Bitter;
	font-size: 25px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 25.6px;
}

h4 {
    font-family: Bitter;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 25.6px;
}

p {
    font-family: 'Bitter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px;
    color: #333;
}
blockquote {
	font-family: Bitter;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
code {
	font-family: Consolas;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 22.5px;
}

span.date, div.date, div.authors {
    font-size: 15px;
    margin-top: 0px;
    color: #777777
}

div.project_entry {
    margin-bottom: 25.6px;
    border-bottom: 1px solid #d5d5d5;
}

div.project_entry_last {
    margin-bottom: 25.6px;
}

div.project_title {
    font-size: 25px;
    line-height: 25.6px;
    margin-bottom: 0px;
}

div.project_links, span.project_links {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 10px;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

div.warn {
  border: solid 1px darkred;
  width: 20.5em; height: 2.1em;
  border-radius: .2em;
  background: linear-gradient(lightcoral, firebrick); 
  color: #ffffff;
  vertical-align: middle;
}
div.warn span.text {
  margin-left: 10px;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 700;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  vertical-align: -5px;
}

div.warn span.triangle {
  margin-left: 10px;
  font-size: 50px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  vertical-align: middle;
}