body {
    font-family: Bitter;
    margin: 60px auto;
    width: 750px;
    font-size: 16px;
    max-width:80%;
    line-height: 25.6px;
}

img {
    max-width: 750px;
    height: auto;
}

img.face {
    width:175px;
    height:175px;
}

img.circular {
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}


.center-image /*![Picture description](/link/to/picture.jpg){: .center-image }*/
{
    margin: 0 auto;
    display: block;
}

h1.post_title{
  margin-bottom: 0px;
}

div.home_intro {
    font-size: 21px;
}

.home_content {
  padding: 0 0 30px 200px; /* 200px being the width of the image + how much space you want to put between it and your text */
  /*30px is the bottom padding to prevent the footer to be too much above, as the actual text height is lower than the image height.*/
  position: relative; /* So the imageis relative to this */
}

.home_content img {
  left: 0;
  position: absolute;
  top 0;
}

nav ul {
    font-family: Bitter;/*Monaco, Menlo, Consolas;*/
    padding: 0px;
    list-style: none;
    font-size: 25px;
    font-weight: bold;
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

footer ul {
    font-family: Bitter;/*Monaco, Menlo, Consolas;*/
    padding: 0px;
    list-style: none;
    font-size: 13px;
    text-align: right;
    vertical-align: middle;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: #b70e0e;
}
a:hover {
    text-decoration: underline;
}

li {
    margin: 10px 0;
}

name_heading {
	font-family: Bitter;
	font-size: 49px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 98px;
}
h1 {
	font-family: Bitter;
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 78px;
}
h1.post-title{
  font-family: Bitter;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
}
h2 {
  font-family: Bitter;
  font-size: 32px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 25.6px;
}
h3 {
	font-family: Bitter;
	font-size: 22px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 25.6px;
}

h4 {
    font-family: Bitter;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 25.6px;
}

p {
    font-family: 'Bitter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px;
    color: #333;
}
blockquote, blockquote p{
	font-family: Bitter;
	font-size: 16px;
	font-style: normal; /*italic;*/
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
  color: #777777
}
code {
	font-family: Consolas;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 22.5px;
}

span.date, div.date, div.authors{
    font-size: 15px;
    margin-top: 0px;
    color: #777777
}

p.img-caption{
    font-size: 15px;
    margin-top: 0px;
    text-align: center;
    color: #777777
}

div.project_entry {
    margin-bottom: 25.6px;
    border-bottom: 1px solid #d5d5d5;
}

div.project_entry_last {
    margin-bottom: 25.6px;
}

div.project_title {
    font-size: 25px;
    line-height: 25.6px;
    margin-bottom: 0px;
}

div.project_links, span.project_links {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 10px;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

div.warn {
  border: solid 1px darkred;
  width: 20.5em; height: 2.1em;
  border-radius: .2em;
  background: linear-gradient(lightcoral, firebrick); 
  color: #ffffff;
  vertical-align: middle;
}
div.warn span.text {
  margin-left: 10px;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 700;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  vertical-align: -5px;
}

div.warn span.triangle {
  margin-left: 10px;
  font-size: 50px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  vertical-align: middle;
}