---
layout: default
title: About
---
<h1>{{ page.title }}</h1>
<div class="blurb">
	<div class='warn'><span class="triangle">&#9888;</span><span class="text">Caution: bragging zone incoming<span></div>
	
	<p>Hi there, I'm Guim Perarnau!</p>
	<p>I'm interested in applying deep learning to solve real world problems <s>and create a super-human AI that will enslave us all</s>.
	</p>
	<p>I graduated from Autonomous University of Barcelona in September 2016 with an M.Sc. in Computer Vision and a B.Sc. in Computer Science, both with honors. I also was awarded the best final degree project and best master thesis. During that time, I interned at the <a href="http://www.cvc.uab.es/">Computer Vision Center</a> for 10 months doing machine learning research projects.</p>
	<p>My personal interests include playing the piano, reading, video games and game development.</p>
	<p>You can find more information about me in my <a href="/about/Guim_Perarnau_Resume.pdf" target="_blank">CV</a>.</p>

	<p>In June 2017 I joined a London based startup, Aframe, where I currently work as a deep learning and computer vision engineer.</p>
	
	<p>Other things I did in the past include:</p>
	<ul>
		<li><p>(Dec 2016) I attended <a href="https://nips.cc/Conferences/2016">NIPS 2016</a>, where my research about <a href="../projects/#icgan"> Invertible conditional GANs (IcGAN)</a> was accepted at the <a href="https://sites.google.com/site/nips2016adversarial/">Workshop on Adversarial Training</a>. I also gave a presentation about my work there.</p></li>
		<li><p>(Dec 2016) I had an interview with <a href="https://github.com/chadwittman/ai-guild">AI Guild</a> about the IcGAN.</p></li>
	</ul>
		
	<h3>Contact</h3>
	<p>I really enjoy any chance to learn from people: there's always something new to learn from anybody. Feel free to reach out!</p>
	<ul class="fa-ul">
		<li class="contact-item">
		    <a href="#">
		      <i class="fa-li fa fa-envelope"></i> [name][surname] at gmail dot com
		    </a>
		</li>
		{% if site.github_username %}
		<li class="contact-item">
		    <a href="https://github.com/{{ site.github_username }}">
		      <i class="fa-li fa fa-github"></i> GitHub
		    </a>
		</li>
		{% endif %}
		{% if site.linkedin_username %}
		<li class="contact-item">
		    <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
		      <i class="fa-li fa fa-linkedin"></i> LinkedIn
		    </a>
		</li>
		{% endif %}
	</ul>
</div><!-- /.blurb -->
